[run]
branch = True
omit =
    **/__init__.py
    main.py
    adapters/primary/*.py
    tests/**/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

[html]
directory = coverage_html_report